body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/Cats-HQ-01.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow-y: hidden;
}

.caixa {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

img {
  height: 80vh;
  width: 50vw;
  border-radius: 10px;
}

button {
  margin-top: 20px;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
